<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
             connectionString="Data Source=\\DESKTOP-33VPEEG\SQLEXPRESS01;Initial Catalog=SistemaDeCalidadPABSA;Integrated Security=False;TrustServerCertificate=False"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
